/* General Stuff */
body { background: #000000 url('../img/background.jpg') no-repeat 50% 0; color: white; }
div.container_12 { margin-top: 12px; }

/* Logo */
#logo a { 
    display: block;
    position: absolute;
    background: url('../img/logo.png') no-repeat; 
    text-indent: -9000px;
    height: 44px;
    width: 244px;
}

/* Navigation Bar */
#nav { 
    background: url('../img/list_gradient.png') no-repeat 50% 0;
    padding: 6px 0px 6px 0px;
}
#nav li { list-style-type: none; }
#nav a, #nav span { 
    color: #FFFFFF; 
    opacity: 0.6;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    text-decoration: none; 
    font-size: 24px;
}
#nav > li { display: inline; }
#nav > li > ul { display: none; }
#nav > li > ul > li { background: url('../img/list_gradient.png') no-repeat 50% 0; }
#nav > li:hover > ul { display: block; position: absolute; }
#nav #subnav_everyone { left: 695px; top: 50px; }
#nav > li:hover > ul a:before { content: " > "; }

/* Footer */
#footer { 
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    background: url('../img/list_gradient.png') no-repeat 50% 0; 
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 8px 0px 8px 0px;
}
#footer li { display: inline; }
#footer a, #footer span { 
    color: #FFFFFF;
    opacity: 0.6;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    text-decoration: none;
}