/* General Stuff */
body { background: #000000 url('../img/background.jpg') no-repeat 50% 0; color: white; }

/* Logo */
#logo a { 
    display: block;
    position: absolute;
    background: url('../img/logo.png') no-repeat; 
    text-indent: -9000px;
    height: 44px;
    width: 244px;
}

/* Navigation Bar */
#nav_bg { 
    background: url('../img/list_gradient.png') no-repeat 140px 12px;
    padding-top: 12px;
}
#nav { padding: 6px 0px 6px 0px;}
#nav li { list-style-type: none; margin: 0px 12px 0px 12px; }
#nav a, #nav span { 
    color: #FFFFFF; 
    opacity: 0.6;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    text-decoration: none; 
    font-size: 22px;
}
#nav > li { display: inline; }
#nav > li > ul { display: none; }

/* Messages */
ul.messages li { 
    display: block;
    background: url('../img/message_bg.png');
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    margin: 0px 0px 4px 0px;
    padding: 0px 10px 0px 10px;
}
a.clear_button { 
    float: right; 
    color: #FFFF00;
    text-decoration: none;
}

/* New Event */
#event_description_field {
    background: url('../img/starry_background.png') no-repeat 50% 0;
    height: 60px;
}
#event_description_field textarea {
    border: 2px solid #191919;
    padding: 0px 5px 0px 5px;
    width: 690px;
    height: 56px;
    overflow: hidden;
    background: transparent;
    font-size: 26px;
    line-height: 60px;
    color: white;
}

#event_submit input {
    width: 100%;
    height: 60px;
    font-size: 26px;
    border: 2px solid #191919;
    padding: 0px 5px 0px 5px;
    background-color: black;
    color: white;
}

/* Event */
div.event_container { margin-bottom: 5px; }
div.event { height: 60px; }
div.event span.description { vertical-align: 140%; }
div.person_count {
    text-align: center;
    height: 60px;
}
div.person_count span.label { position: relative; bottom: 6px; }
div.person_count span.number { 
    display: block; 
    font-size: 24px; 
    padding-top: 3px;
}
.attend { 
    text-align: center;
    height: 60px; 
    border: none;
    width: 100%;
    font-size: 30px;
    color: white;
    line-height: 30px;
}
.unattend { 
    text-align: center;
    height: 60px; 
    border: none;
    width: 100%;
    font-size: 30px;
    color: #44FF44;
    line-height: 30px;
}
.event_num_1 .event, .event_num_1 .person_count,
.event_num_1 .attend, .event_num_1 .unattend {
    background-color: red;
}

/* Event List */
p.event_time { margin-bottom: 0px; margin-top: 10px; }
p.event_time_first { margin-bottom: 0px; }
#my_event_title { margin-top: 20px; }
#all_events_title { margin-top: 20px;}

/* Footer */
#footer { 
    width: 100%; 
    background: url('../img/list_gradient.png') no-repeat 50% 0; 
    text-align: center;
    font-size: 18px;
    padding: 8px 0px 8px 0px;
}
#footer li { display: inline; }
#footer a, #footer span { 
    color: #FFFFFF;
    opacity: 0.6;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    text-decoration: none;
}
html { height: 100%; }
body { height: 100%; }
.container_12 { position: relative; min-height: 100%; }
* html .container_12 { height: 100%; }
#content { padding-bottom: 7em; }
#footer { position: relative; margin-top: -3.5em; }