{% extends "base.html" %}

{% block title %}Password Reset - {{ block.super }}{% endblock %}

{% block main_content %}
    <p class="info">Forgotten your password? Enter your e-mail address below, and we&rsquo;ll reset your password and e-mail the new one to you.</p>
    {{ form.email.errors }}
    <form method="POST" class="standard" action="">
        <ul>
            <li><label for="id_email">E-mail address: </label> {{ form.email }} </li>
        </ul>
        <input type="submit" value="Reset my password" />
    </form>
{% endblock %}
