{% extends "base.html" %}
{% load profile_tags %}

{% block title %}Friend List - {{ block.super }}{% endblock %}

{% block main_content %}
    {% ifequal list_type "followers" %}
        <h1>People Who You Follow:</h1>
    {% else %}
        {% ifequal list_type "following" %}
            <h1>People Following You:</h1>
        {% else %}
            <h1>People Who You Follow, Who Also Follow You:</h1>
        {% endifequal %}
    {% endifequal %}
    {% ifequal friends.count 0 %}
        <p class="info">No friends listed</p>
    {% else %}
        {% for friend in friends %}
            {% person friend %}
        {% endfor %}
    {% endifequal %}
{% endblock %}