{% extends "base.html" %}

{% block title %}About Us - {{ block.super }}{% endblock %}

{% block main_content %}
<h1>About Us</h1>
<p class="info">StartTheDark.com was created during the process of recording a series of screencasts related to Django.
These screencasts cover every aspect of creating a Django website--from starting the initial project, creating the models,
views, and templates, to deploying it onto a server.  
These screencasts will be available on <a href="http://www.eflorenzano.com/blog/tag/screencast/">my blog</a>, however at the time of writing this page, they are not yet available.</p>
<p class="info">The source code to this site is freely available online, and is licensed in the new BSD license.
More information about the source code can be found on our <a href="{% url opensource %}">open source page</a>.</p>
{% endblock %}
