{% extends "base.html" %}

{% block title %}Open Source - {{ block.super }}{% endblock %}

{% block main_content %}
<h1>Open Source</h1>
<p class="info">StartTheDark.com is both a website, and an open source project.
The website is a running instance of the open source project, but the source is released in the new BSD license,
and can be found online at <a href="http://github.com/ericflo/startthedark/tree/master">GitHub</a>.
Everything that you see on the site, including the media assets (cascading style sheets, images, and Javascript), are available
in that project.  Contributions, as with any open source project of mine, are welcome and encouraged.
Please note that this project is still early and there may still be some bugs to iron out.</p>
<p class="info">For any issues, please visit the <a href="http://code.google.com/p/startthedark/issues/list">issue tracker</a>.</p>
<p class="info">If there a significant amount of people request it, I will also release this on google code.</p>
{% endblock %}
