<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{% block title %}StartTheDark{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block messages %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
        <ul class="nav">
            <li><a href="{% url ev_tonight %}">Tonight</a></li>
            <li><a href="{% url ev_archive %}">Archive</a></li>
            <li><a href="{% url ev_everyone_tonight %}">Everyone Tonight</a></li>
            <li><a href="{% url ev_everyone_archive %}">Everyone Archive</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url auth_logout %}">Logout</a></li>
                <li><a href="{% url auth_password_change %}">Change Password</a></li>
            {% else %}
                <li><a href="{% url auth_login %}">Login</a></li>
                <li><a href="{% url registration_register %}">Register</a></li>
            {% endif %}
        </ul>
        {% block main_content %}{% endblock %}
        <script src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
        </script>
    </body>
</html>