<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{% block title %}StartTheDark{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block messages %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
        {% block main_content %}{% endblock %}
    </body>
</html>