{% load gravatar %}
<div class="event_container{% if event_num %} event_num_{{ event_num }}{% endif %}">
    <div class="grid_9 alpha event">
        {% gravatar event.creator 60 %}
        <span class="description">{{ event.description }}</span>
    </div>
    <div class="grid_1 person_count">
        {% with event.attendees.count as ac %}
        <span class="number">{{ ac }}</span> <span class="label">P{{ ac|pluralize:"erson,eople" }}</span>
        {% endwith %}
    </div>
    {% if event.today %}
        <div class="grid_1">
            {% if authenticated %}
                <form method="POST" action="{% url ev_toggle_attendance %}">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="hidden" name="event_id" value="{{ event.id }}" />
                    {% if attending %}
                        <input class="unattend" type="submit" value="No Longer Attending" />
                    {% else %}
                        <input class="attend" type="submit" value="I Will Attend" />
                    {% endif %}
                </form>
            {% else %}
                <p><a href="{% url auth_login %}">Login</a> to Attend</p>
            {% endif %}
        </div>
    {% endif %}
    <div class="clear"></div>
</div>